@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efede6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

